<div class="container">
  <h1 class="text-center mt-5"> Today's Status Update</h1>
  <div class="form-group row">
    <div class="col-4"></div>
    <div class="col-4">
      <h5 class="text-center mt-2 mb-1"> New Update</h5>
    </div>
  </div>

    <%= form_for(@status) do |f| %>
    <div class="container">
      <br>
      <br>
      <div>
        <div>
          <%= f.label :date %>
          <%= f.date_field :date, min:"2014-05-11", max:"#{Date.today.to_s}" %>
        </div>

        <div>
          <%= f.fields_for :tasks do |t| %>
            <%= render "task_fields", :f => t %>
          <% end %>

          <div class="ml-3 row justify-content-between mt-5">
            <%= link_to_add_association "Add New Task", f, :tasks ,class: "btn btn-secondary text-light my-1  ml-3 col-2" %>
            <button type="button" class="btn btn-secondary col-2 my-1 text-light " data-toggle="modal" data-target="#exampleModal">
              Preview Mail
            </button>
            <%= link_to 'History',statuses_path(@status), class: "btn btn-secondary text-light my-1 col-2 mr-5" %>
          </div>
        </div>

         <div class="row justify-content-center d-flex mt-5">
          <%# <%= f.submit %>
          <%= f.submit "Send Status", class: "btn btn-lg btn-outline-secondary mr-5 mb-3" %>
          <%# <button type="submit" class="btn btn-success btn-lg col-4 mb-5" data-toggle="modal" data-target="#exampleModal">
            Create Status
          </button>    </div> %>
          </div>
          </div>
    </div>
      <% end %>

  

